<% if object.errors.any? %>

<div class='row'>
  <div class='col-xs-8 col-xs-offset-2'>
    <div class='panel panel-danger'>
      <div class='panel-heading'>
        <h2 class='panel-title'>
          <%= pluralize(object.errors.count, "error") %>
          prohibited this article from being saved:
        </h2>
        <div class='panel-body'>
          <ul>
              <% object.errors.full_messages.each do |err_msg| %>
                <li><%= err_msg %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for object, html: {class:'form-horizontal', role:'form'} do |forma| %>
      <div class='form-group'>
        <div class= 'control-label col-sm-2'>
          <%= forma.label :title %>
        </div>
        <div class= 'col-sm-8'>
          <%= forma.text_field :title, class: 'form-control', placeholder: "Title of Article", autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class= 'control-label col-sm-2'>
          <%= forma.label :description %>
        </div>
        <div class= 'col-sm-8'>
          <%= forma.text_area :description, rows: 10, class: 'form-control', placeholder: "Description of Article", autofocus: true %>
        </div>
      </div>
      <div class='form-group'>
        <div class= 'col-sm-offset-2 col-sm-10'>
          <%= forma.submit class: 'btn btn-primary btn-lg'%> 
        </div>
      </div> 
    <% end %>
    <div class='col-xs-2 col-xs-offset-2'>
      [ <%= link_to "Back to all Articles", articles_path %> ]
    </div>
  </div>
</div>